<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{common/include :: header('HiAuth')}"/>
</head>
<body>

<div class="container">
    <h2 class="form-signin-heading">Login with OAuth 2.0</h2>
    <div class="alert alert-danger" role="alert">[access_denied] OAuth 2.0 Parameter: client_id</div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td><a href="/oauth2/authorization/authorization-code">himallxx</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
