<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <title>Navbar Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/navbar.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Aiwan 账号管理系统</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">首页</a></li>
              <li><a href="#">关于</a></li>
              <li><a href="#">联系方式</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">用户管理 <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">角色管理</a></li>
              <li><a href="../navbar-fixed-top/">资源管理</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="row">
        <div class="col-xs-12">

          <table class="table table-hover">
            <thead>
            <tr>
              <th data-field="name">姓名</th>
              <th data-field="username">用户名</th>
              <th data-field="tel">手机号码</th>
              <th data-field="createTime">创建时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>张三</td>
              <td>zhangsan</td>
              <td>123</td>
              <td>2019-01-21</td>
              <td><button>修改</button><button>删除</button></td>
            </tr>
            <tr>
              <td>张三</td>
              <td>zhangsan</td>
              <td>123</td>
              <td>2019-01-21</td>
              <td><button>修改</button><button>删除</button></td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>



    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
