<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

<h1>首页</h1>
<div>

    <a th:href="@{/user/detail}" th:if="${#httpServletRequest.remoteUser}">个人中心</a>

    <a th:href="@{/user/me}">个人信息（user可以看）</a>
    <a th:href="@{/user/list1}">用户列表（admin可以看）</a>

    <a th:href="@{/signout}" th:if="${#httpServletRequest.remoteUser}">退出</a>

</div>

</body>

</html>
