HELP.md
target/
target/*
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
*.pdf

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.ipr
*.iws
*.iml
**/.idea
**/*.iml
rebel.xml

### IntelliJ IDEA Local ###
target
*.log
*.log.*
logs
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/logs/

**/node_modules
**/.umi
temp

### java ###
*.class

/docs/.vitepress/dist
/docs/.vitepress/cache
/docs/package-lock.json
/docs/pnpm-lock.yaml
