<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestaone.hiauth.mapper.AppMapper">

    <resultMap id="BaseResultMap" type="App">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="clientId" property="clientId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="img1X" property="img1X" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="resource_ids" property="resourceIds" jdbcType="VARCHAR"/>
        <result column="client_secret" property="clientSecret" jdbcType="VARCHAR"/>
        <result column="scope" property="scope" jdbcType="VARCHAR"/>
        <result column="authorized_grant_types" property="authorizedGrantTypes" jdbcType="VARCHAR"/>
        <result column="web_server_redirect_uri" property="webServerRedirectUri" jdbcType="VARCHAR"/>
        <result column="authorities" property="authorities" jdbcType="VARCHAR"/>
        <result column="access_token_validity" property="accessTokenValidity" jdbcType="INTEGER"/>
        <result column="refresh_token_validity" property="refreshTokenValidity" jdbcType="INTEGER"/>
        <result column="additional_information" property="additionalInformation" jdbcType="VARCHAR"/>
        <result column="autoapprove" property="autoapprove" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findById" resultMap="BaseResultMap">
        SELECT *
        FROM sys_app A
        LEFT JOIN oauth_client_details CD ON CD.client_id=A.clientId
        WHERE A.id=#{id}
    </select>

    <insert id="insert">
        INSERT INTO sys_app(id,clientId,name,img1X,createTime)
        VALUES(#{id},#{clientId},#{name},#{img1X},#{createTime})
    </insert>

    <insert id="insertClientDetails">
        INSERT INTO
          oauth_client_details(client_id,resource_ids,client_secret,scope,authorized_grant_types,web_server_redirect_uri,authorities,
          access_token_validity,refresh_token_validity,additional_information,autoapprove)
        VALUES
          (#{clientId},#{resourceIds},#{clientSecret},#{scope},#{authorizedGrantTypes},#{webServerRedirectUri},#{authorities},
          #{accessTokenValidity},#{refreshTokenValidity},#{additionalInformation},#{autoapprove})
    </insert>

    <update id="update" parameterType="App">
        UPDATE sys_app A
        LEFT JOIN oauth_client_details CD ON CD.client_id=A.clientId
        SET
          A.name=#{name},A.img1X=#{img1X},A.createTime=#{createTime},
          CD.resource_ids=#{resourceIds},CD.client_secret=#{clientSecret},CD.scope=#{scope},CD.authorized_grant_types=#{authorizedGrantTypes},
          CD.web_server_redirect_uri=#{webServerRedirectUri},CD.authorities=#{authorities},CD.access_token_validity=#{accessTokenValidity},
          CD.refresh_token_validity=#{refreshTokenValidity},CD.additional_information=#{additionalInformation},CD.autoapprove=#{autoapprove}
        WHERE A.id=#{id}
    </update>

    <delete id="delete">
        DELETE CD,A
        FROM oauth_client_details AS CD
        LEFT JOIN sys_app AS A ON A.clientId=CD.client_id
        WHERE A.id = #{id}
    </delete>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT *
        FROM sys_app A
        LEFT JOIN oauth_client_details CD ON CD.client_id=A.clientId
    </select>

    <select id="findByNameOrClientId" resultMap="BaseResultMap">
        SELECT *
        FROM sys_app A
        LEFT JOIN oauth_client_details CD ON CD.client_id=A.clientId
        WHERE 1=1
            <if test="name !=null and name !=''">AND A.name LIKE concat("%",#{name},"%")</if>
            <if test="clientId !=null and clientId !=''">AND A.clientId=#{clientId}</if>
    </select>

</mapper>