<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hiauth.server.mapper.AppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="App">
        <result column="id" property="id"/>
        <result column="cid" property="cid"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="home" property="home"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="remark" property="remark"/>
        <result column="extend" property="extend"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cid, name, icon, home, create_time, creator, remark, extend
    </sql>

</mapper>