<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hiauth.server.mapper.CorpAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="CorpApp">
        <result column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="corp_id" property="corpId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, corp_id
    </sql>

</mapper>