<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hiauth.server.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="File">
        <result column="id" property="id"/>
        <result column="origin_name" property="originName"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="ext" property="ext"/>
        <result column="data" property="data"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, origin_name, code, name, ext, data
    </sql>

</mapper>