<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hiauth.mgr.mapper.UserMapper">

    <cache-ref namespace="cn.hiauth.mgr.mapper.UserMapper"/>

    <resultMap type="User" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="updaterId" column="updater_id"/>
        <result property="createrId" column="creater_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>

        <result property="avatarUrl" column="avatar_url"/>
        <result property="username" column="username"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="password" column="password"/>
        <result property="regtime" column="regtime"/>

        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            T.id, T.updater_id, T.creater_id, T.update_time, T.create_time, T.avatar_url, T.username, T.phoneNum, T.password, T.regtime, T.status,
        </trim>
    </sql>

</mapper>