<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 well">
            <h3>index</h3>
            <ul>
                <li><a th:href="@{/signin}">signin</a></li>
            </ul>
            <h3>profile</h3>
            <ul>
                <li><a th:href="@{/profile}">profile</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>