<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{common/include :: header('HiAuth')}" />
<style>
.corp-name {
  margin: 20px 0;
  padding: 5px;
  font-size: 24px;
  border-bottom: 1px solid #ced4da;
}
</style>
</head>
<body>
<div class="container">

  <header th:with="item=${#strings.arraySplit('index',',')}">
    <th:block th:insert="~{common/include :: navbar('appMgr',${item})}" />
  </header>

  <main>

    <div class="corp" th:each="corpApp : ${corpApps}">
      <div class="corp-name" th:text="${corpApp.corpName}"></div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col" th:each="app : ${corpApp.apps}">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
              <h5 class="my-0 fw-normal" th:text="${app.appName}"></h5>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li th:text="${app.appRemark}"></li>
              </ul>
              <a type="button" class="w-100 btn btn-lg btn-outline-primary" th:href="@{/openApp(cid=${app.corpId},appId=${app.appId})}">打开</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <th:block th:insert="~{common/include :: footer}" />

</div>
<th:block th:insert="~{common/include :: commonjs}" />
<script>
$(function () {
  console.log("xx")
})
</script>
</body>
</html>
