<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{common/include :: header('HiAuth')}" />
<style>

</style>
</head>
<body>
<div class="container">

  <header th:with="item=${#strings.arraySplit('corpMgr,myCorpMgr,appMgr,userMgr',',')}">
    <th:block th:insert="~{common/include :: navbar('profile',${item})}" />
  </header>

  <main>
    设置
  </main>

  <th:block th:insert="~{common/include :: footer}" />

</div>
<th:block th:insert="~{common/include :: commonjs}" />
<script>
$(function () {
  console.log("xx")
})
</script>
</body>
</html>
