<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>profile</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 well">
            <h3>profile</h3>
            <ul>
                <li th:text="${id}">id</li>
                <li th:text="${name}">name</li>
                <li th:text="${email}">email</li>
            </ul>

            <h3>my order</h3>
            <ul>
                <li th:text="${orderId}">orderId</li>
                <li th:text="${orderTitle}">orderTitle</li>
                <li th:text="${orderTotalAmount}">orderTotalAmount</li>
            </ul>

            <h3>my log</h3>
            <ul>
                <li th:text="${logId}">logId</li>
                <li th:text="${logContent}">logContent</li>
                <li th:text="${logCreateTime}">logCreateTime</li>
            </ul>

            <h3>link</h3>
            <ul>
                <li><a href="/" th:href="@{/}">top</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>