<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

    <h1>登录</h1>
    <div>
        <h2>账号登陆</h2>
        <form th:action="@{/signin/form}" method="post">
            <input type="text" name="username" id="username" value="user" placeholder="账号" /><br/>
            <input type="password" name="password" id="password" value="123" placeholder="密码" /><br/>
            <input type="text" name="yzm" id="yzm" value="" placeholder="验证码" /><img src="/code/image" /><br/>
            <button type="submit">登录</button>
        </form>
    </div>
    <br/>
    <div>
        <h2>手机号码登陆</h2>
        <form th:action="@{/mobile/signin/form}" method="post">
            <input type="text" name="telNo" id="telNo" value="137" placeholder="账号" /><br/>
            <input type="password" name="smsCode" id="smsCode" value="1234" placeholder="短信验证码" /><br/>
            <input type="text" name="yzm" id="yzm" value="" placeholder="验证码" /><img src="/code/image" /><br/>
            <img style="display: none" src="/code/mobile" /><br/>
            <button type="submit">登录</button>
        </form>
    </div>

</body>

</html>
